@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  @font-face {
      font-family: "Estedad";
      src: url("assets/fonts/Estedad-Regular.woff2") format("truetype");
  }
  @font-face {
      font-family: "EstedadMedium";
      src: url("assets/fonts/Estedad-Medium.woff2") format("truetype");
  }
  @font-face {
      font-family: "EstedadSemiBold";
      src: url("assets/fonts/Estedad-SemiBold.woff2") format("truetype");
  }
  @font-face {
      font-family: "EstedadBold";
      src: url("assets/fonts/Estedad-Bold.woff2") format("truetype");
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    @apply bg-inherit
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded
  }
*{
    @apply outline-none
  }
}
@layer components{
  .nav__item--active {
    @apply relative py-0
}
  .nav__item--active::after{
    content: '';
    @apply absolute bg-primary left-0 right-0 h-px w-full -bottom-1
}
  .nav__icon--active{
  @apply text-white bg-primary
}
.header .swiper-pagination {
  .swiper-pagination-bullet {
    @apply bg-primary opacity-30 cursor-pointer
  }
  .swiper-pagination-bullet-active {
    @apply bg-primary opacity-100
  }
}
.thumb__gallery{
  .swiper-slide img {
    @apply block w-full h-full object-cover
  }
  .swiper-slide {
    @apply bg-center bg-cover
  }
  .mySwiper2 {
    @apply h-5/6 w-full mx-auto p-0 rounded-lg
  }
  .mySwiper {
    @apply h-1/5 py-2.5
  }
  .mySwiper .swiper-slide {
    @apply w-1/4 h-full opacity-40
  }
  .mySwiper .swiper-slide-thumb-active {
    @apply opacity-100
  }
}
.food__gallery{
  .swiper-slide img {
    @apply block w-full h-full object-cover
  }
  .swiper-slide {
    @apply bg-center bg-cover
  }
  .mySwiper2 {
    @apply h-5/6 w-full mx-auto p-0
  }
  .mySwiper {
    @apply h-1/5 py-2.5
  }
  .mySwiper .swiper-slide {
    @apply w-1/4 h-full opacity-40
  }
  .mySwiper .swiper-slide-thumb-active {
    @apply opacity-100
  }
}
.comment .swiper-pagination-custom2{
.swiper-pagination-bullet{
  @apply bg-primary opacity-30 cursor-pointer w-2 h-2
}
.swiper-pagination-bullet-active{
    @apply bg-primary opacity-100 scale-125
}
}
.topic__item--active{
  @apply relative text-primary font-estedadMedium text-sm md:text-xl md:font-estedadBold
}
.topic__item--active::after{
  content: '';
  @apply absolute bg-primary h-px -bottom-1.5 left-0 right-0 w-full md:-bottom-3.5
}
.advantage__item{
  @apply relative
}
.advantage__item::before{
  content: '';
  @apply absolute border-2 border-primary rounded rotate-45 top-0 bottom-0 my-auto -right-6 w-4 h-4
}
.day__disable{
  @apply text-gray-500 cursor-text
}
.day__calendar{
  @apply w-8 h-8 transition-all duration-300
}
.day__active{
  @apply text-white bg-primary rounded-full flex-center
}
.state__question--active{
  @apply relative text-primary font-estedadBold
}
.state__question--active::after{
  content: '';
  @apply absolute left-0 -bottom-1.5 right-0 w-full h-0.5 bg-primary
}
.state__item{
  @apply text-gray-400 invisible md:visible opacity-0 md:opacity-100 transition-all duration-300 w-0 md:w-auto
}
.state__item--active{
  @apply visible opacity-100 text-gray-800 font-estedadBold text-base md:text-primary w-auto
}
.state__item--active svg{
  @apply w-8 h-8
}
.state__delivery--active .state__radio::after{
  content: '';
  @apply absolute bg-primary w-3 h-3 rounded-full m-auto inset-0
}
}
@layer utilities{
  .flex-center{
      @apply flex items-center justify-center
  }
}