@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  @font-face {
      font-family: "Estedad";
      src: url("assets/fonts/Estedad-Regular.woff2") format("truetype");
  }
  @font-face {
      font-family: "EstedadMedium";
      src: url("assets/fonts/Estedad-Medium.woff2") format("truetype");
  }
  @font-face {
      font-family: "EstedadSemiBold";
      src: url("assets/fonts/Estedad-SemiBold.woff2") format("truetype");
  }
  @font-face {
      font-family: "EstedadBold";
      src: url("assets/fonts/Estedad-Bold.woff2") format("truetype");
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    @apply bg-inherit
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded
  }
}
@layer components{
  
}
@layer utilities{
  .flex-center{
      @apply flex items-center justify-center
  }
}