@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Estedad";
        src: url("../../public/fonts/Estedad-Regular.woff2") format("truetype");
    }
    @font-face {
        font-family: "EstedadMedium";
        src: url("../../public/fonts/Estedad-Medium.woff2") format("truetype");
    }
    @font-face {
        font-family: "EstedadSemiBold";
        src: url("../../public/fonts/Estedad-SemiBold.woff2") format("truetype");
    }
    @font-face {
        font-family: "EstedadBold";
        src: url("../../public/fonts/Estedad-Bold.woff2") format("truetype");
    }

}

@layer components{
    .nav__item--active{
        @apply relative text-primary font-estedadBold py-0
    }
    .nav__item--active::after{
        content: '';
        @apply absolute bg-primary left-0 right-0 h-px w-full -bottom-1
    }
    .mobile__menu--active{
        @apply text-primary text-xs
    }
    .mobile__menu--active svg{
        @apply w-4 h-4
    }
    .overlay{
        @apply invisible opacity-0
    }
    .overlay__active{
        @apply visible opacity-100 backdrop-blur-sm bg-black/40
    }
    .mobile__menu{
        @apply -right-64
    }
    .mobile__menu--open{
        @apply right-0
    }
}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center
    }
}