@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Estedad";
        src: url("../../public/fonts/Estedad-Regular.woff2") format("truetype");
    }
    @font-face {
        font-family: "EstedadMedium";
        src: url("../../public/fonts/Estedad-Medium.woff2") format("truetype");
    }
    @font-face {
        font-family: "EstedadSemiBold";
        src: url("../../public/fonts/Estedad-SemiBold.woff2") format("truetype");
    }
    @font-face {
        font-family: "EstedadBold";
        src: url("../../public/fonts/Estedad-Bold.woff2") format("truetype");
    }
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    @apply bg-inherit
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded
}
}

@layer components{
    .nav__item--active {
        @apply relative py-0
    }
    .nav__item--active .nav__link ,.nav__item--active svg{
        @apply  text-primary font-estedadBold 
    }
    .nav__item--active::after{
        content: '';
        @apply absolute bg-primary left-0 right-0 h-px w-full -bottom-1
    }
    .mobile__menu--active{
        @apply text-primary text-xs
    }
    .mobile__menu--active svg{
        @apply w-4 h-4
    }
    .overlay{
        @apply invisible opacity-0
    }
    .overlay__active{
        @apply visible opacity-100 backdrop-blur-sm bg-black/40
    }
    .mobile__menu{
        @apply -right-64
    }
    .mobile__menu--open{
        @apply right-0
    }
    .navigation__item--active{
        @apply flex-center border-2 border-gray-500 bg-primary
    }
    .search__modal{
        @apply invisible opacity-0 transition-all duration-300
    }
    .search__modal--active{
        @apply visible opacity-100
    }
    .choose__branchModal{
        @apply invisible opacity-0 transition-all duration-300
    }
    .choose__branchModal--active{
        @apply visible opacity-100
    }
    .form__phoneNumber{
        @apply relative 
    }
    .form__phoneNumber--error{
        @apply text-error 
    }
    .form__phoneNumber::after{
        content: 'شماره همراه';
        @apply absolute text-xs text-current bg-white right-5 -top-2
    }
    .input__code--active{
        @apply border-primary 
    }
    .signup__modal{
        @apply invisible opacity-0 transition-all duration-300
    }
    .signup__modal--active{
        @apply visible opacity-100
    }
    .gallery__branch{
        @apply invisible opacity-0 transition-all duration-300
    }
    .gallery__branch--active{
        @apply visible opacity-100
    }
    .undefined .result__title,.undefined .result__wrapper{
        @apply hidden
    }
    .defined .undefined__caption,.defined .undefined__img{
        @apply hidden
    }
    .gallery__modal{
        @apply invisible opacity-0 transition-all duration-300
    }
    .gallery__modal--active{
        @apply visible opacity-100
    }
    .gallery__slide .swiper-slide-thumb-active {
        opacity: 1;
    }
    .topic__item--active{
        @apply relative text-primary font-estedadMedium text-sm md:text-xl md:font-estedadBold
    }
    .topic__item--active::after{
        content: '';
        @apply absolute bg-primary h-px -bottom-1.5 left-0 right-0 w-full md:-bottom-3.5
    }
    .favorite__btn{
        @apply absolute w-4 h-4 md:w-6 md:h-6 bottom-1.5 right-0 top-auto left-auto md:left-4 md:top-0.5 md:bottom-auto md:right-auto
    }
    .nav__icon--active{
        @apply text-white bg-primary
    }
    .state__item{
        @apply text-gray-400 invisible md:visible opacity-0 md:opacity-100 transition-all duration-300 w-0 md:w-auto
    }
    .state__item--active{
        @apply visible opacity-100 text-gray-800 font-estedadBold text-base md:text-primary w-auto
    }
    .state__item--active svg{
        @apply w-8 h-8
    }
    .section__item{
        @apply invisible opacity-0 h-0 transition-all duration-300
    }
    .section__item--active{
        @apply visible opacity-100 h-auto
    }
    .deleteAll__modal{
        @apply invisible opacity-0 transition-all duration-300
    }
    .deleteAll__modal--active{
        @apply visible opacity-100
    }
    .state__delivery--active .state__radio::after{
        content: '';
        @apply absolute bg-primary w-3 h-3 rounded-full m-auto inset-0
    }
    .section__delivery{
        @apply invisible opacity-0 transition-all duration-300 overflow-hidden h-0
    }
    .section__delivery--active{
        @apply visible opacity-100 h-min
    }
    .state__pay--active .state__radio::after{
        content: '';
        @apply absolute bg-primary w-3 h-3 rounded-full m-auto inset-0
    }
    .section__pay{
        @apply invisible opacity-0 transition-all duration-300 overflow-hidden h-0
    }
    .section__pay--active{
        @apply visible opacity-100 h-min
    }
    .address__item{
        @apply border-gray-400
    }
    .address__item--active{
        @apply border-primary
    }
    .location__modal{
        @apply invisible opacity-0 transition-all duration-300
    }
    .location__modal--active{
        @apply visible opacity-100
    }
    .address__modal{
        @apply invisible opacity-0 transition-all duration-300
    }
    .address__modal--active{
        @apply visible opacity-100
    }
    .bank__item{
        @apply rounded border border-gray-400 w-16 h-16 md:w-24 md:h-24 grayscale transition-all duration-300
    }
    .bank__item--active{
        @apply border-primary shadow-bank grayscale-0
    }
    .advantage__item{
        @apply relative
    }
    .advantage__item::before{
        content: '';
        @apply absolute border-2 border-primary rounded rotate-45 top-0 bottom-0 my-auto -right-6 w-4 h-4
    }
    .shire__box{
        @apply invisible h-0 opacity-0 transition-all duration-300
    }
    .shire__box--active{
        @apply visible opacity-100 h-48 z-30
    }
    .calendar__box{
        @apply invisible h-0 opacity-0 transition-all duration-300
    }
    .calendar__box--active{
        @apply visible opacity-100 h-72 z-30
    }
    .overlay__subMenu--active{
        @apply visible opacity-100 bg-black/0
    }
    .day__disable{
        @apply text-gray-500 cursor-text
    }
    .day__calendar{
        @apply w-8 h-8 transition-all duration-300
    }
    .day__active{
        @apply text-white bg-primary rounded-full flex-center
    }
    .state__question{
        @apply transition-all duration-300 pb-1.5
    }
    .state__question--active{
        @apply relative text-primary font-estedadBold
    }
    .state__question--active::after{
        content: '';
        @apply absolute left-0 -bottom-1.5 right-0 w-full h-0.5 bg-primary
    }
    .header__section{
        @apply transition-all duration-300 bg-header-question
    }
    .header__title{
        @apply transition-all duration-300
    }
    .section__question{
        @apply transition-all duration-300 invisible opacity-0 h-0 border border-gray-400 rounded overflow-hidden
    }
    .section__question--active{
        @apply visible opacity-100 h-auto
    }
    .icon__fill{
        @apply hidden
    }
    .profile__state{
        @apply transition-all duration-300
    }
    .profile__state--active{
        @apply relative text-primary text-sm font-estedadMedium md:text-base
    }
    .profile__state--active::before{
        content: '';
        @apply absolute h-full w-0.5 bg-primary top-0 bottom-0 -right-2 rounded-l
    }
    .profile__state--active .icon__empty{
        @apply hidden
    }
    .profile__state--active .icon__fill{
        @apply block
    }
    .profile__section{
        @apply transition-all duration-300 invisible opacity-0 h-0 overflow-hidden
    }
    .profile__section--active{
        @apply visible opacity-100 h-auto
    }
    .state__wrapper{
        @apply left-full
    }
    .state__wrapper--active{
        @apply left-0 z-10
    }
    .profile__edit--input{
        @apply w-full h-full bg-transparent text-gray-800 outline outline-0 focus:outline-0 disabled:border-0 transition-all placeholder-shown:border placeholder-shown:border-gray-800 placeholder-shown:border-t-gray-800 border focus:border-2 border-t-transparent focus:border-t-transparent text-sm px-3 py-2.5 rounded-lg border-gray-800 focus:border-gray-800
    }
    .profile__edit--label::before,.profile__edit--label::after{
        content: ' ';
    }
    .profile__edit--label{
        @apply flex w-full h-full  pointer-events-none absolute left-0 !overflow-visible truncate peer-placeholder-shown:text-gray-800 leading-tight peer-focus:leading-tight peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-gray-800 transition-all -top-1.5 peer-placeholder-shown:text-xs text-xs peer-focus:text-xs before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-800 peer-focus:text-gray-800 before:border-gray-800 peer-focus:before:!border-gray-800 after:border-gray-800 peer-focus:after:!border-gray-800
    }
    .profile__box,.edit__box{
        @apply invisible opacity-0 h-0 overflow-hidden transition-all duration-300
    }
    .profile__box--active,.edit__box--active{
        @apply visible opacity-100 h-auto
    }
    .tick__icon{
        @apply hidden
    }
    .filter__item{
        @apply transition-all duration-300
    }
    .filter__item--active{
        @apply text-primary bg-tint-100
    }
    .filter__item--active .arrow__icon{
        @apply hidden
    }
    .filter__item--active .tick__icon{
        @apply block
    }
    .delivery__label{
        @apply bg-gray-300 rounded py-0.5 px-1 md:px-3
    }
    .order__state{
        @apply bg-warning-200 text-warning rounded py-0.5 px-1 md:px-3
    }
    .delivered{
        @apply text-primary bg-tint-100 rounded py-0.5 px-1 md:px-3
    }
    .canceled{
        @apply text-error bg-error-200 rounded py-0.5 px-1 md:px-3
    }
    .state__order--active{
        @apply text-primary text-base font-estedadBold relative
    }
    .state__order--active svg{
        @apply w-6 h-6 md:w-8 md:h-8
    }
    .state__order--active::after{
        content: '';
        @apply absolute h-px border border-dashed border-primary flex-1 right-full lg:-left-1/2 w-14 xs:w-20 sm:w-30 md:w-1/12 lg:w-1/2
    }
    .food__wrapper::after{
        content: '';
        @apply flex-auto
    }
    .cancel__modal{
        @apply invisible opacity-0 transition-all duration-300
    }
    .cancel__modal--active{
        @apply visible opacity-100
    }
}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center
    }
}